.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
.DS_Store
windows/flutter/ephemeral/
dist/
.site-preview/
node_modules/
.env
.env.*
!.env.example
.wrangler/
